<a href="https://colab.research.google.com/github/gealacoque/Entra21_Georgia/blob/master/URI%201000%20a%201020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# URI 1000
print("Hello World!")

Hello World!

In [ ]:
# URI 1001
A=int(input())
B=int(input())
X=A+B
print("X = {}" .format(X))

In [ ]:
# URI 1002
raio=float(input())
pi=3.14159
area=pi*raio**2
print('A={:.4f}'.format(area))

In [ ]:
# URI 1003
A=int(input())
B=int(input())
SOMA=A+B
print("SOMA = {}" .format(SOMA))

In [ ]:
#URI 1004
valor1=int(input())
valor2=int(input())
PROD=valor1*valor2
print("PROD  = {}" .format(PROD))

In [ ]:
# URI 1005
A=float(input())
B=float(input())
MEDIA=((A*3.5)+(B*7.5))/11
print("MEDIA = {:.5f}" .format(MEDIA))

In [ ]:
# URI 1006
A=float(input())
B=float(input())
C=float(input())
MEDIA=((A*2)+(B*3)+(C*5))/10
print("MEDIA = {:.1f}" .format(MEDIA))

In [ ]:
# URI 1007
A=int(input())
B=int(input())
C=int(input())
D=int(input())
DIFERENCA = (A*B-C*D)
print("DIFERENCA = {}" .format(DIFERENCA))

In [ ]:
# URI 1008
NUM=int(input())
HORAS=int(input())
SAL_HORA=float(input())
SALARIO=HORAS*SAL_HORA
print("NUMBER = {}" .format(NUM))
print("SALARY = U$ {:.2F}" .format(SALARIO))

In [ ]:
# URI 1009
NOME=input()
SAL_FIXO=float(input())
TOT_VENDAS=float(input())
COMISSAO=TOT_VENDAS*0.15
SAL_TOTAL=COMISSAO+SAL_FIXO
print("TOTAL = R$ {:.2f}" .format(SAL_TOTAL))

In [ ]:
# URI 1010 
c1, n1, v1 = input().split()
c2, n2, v2 = input().split()
total = int(n1) * float(v1) + int(n2) * float(v2)
print("VALOR A PAGAR: R$ {:.2f}" .format(total))

In [ ]:
# URI 1011
raio=float(input())
pi=3.14159
VOLUME=(4.0/3)*pi*raio**3
print("VOLUME = {:.3f}" .format(VOLUME))

In [ ]:
# URI 1012
A, B, C = input().split(" ")
A=float(A)
B=float(B)
C=float(C)
TRI=(A*C)/2
CIR=3.14159*C**2
TRA=((A+B)*C)/2
QUA=B*B
RET=A*B
print("""TRIANGULO: {:.3f}
CIRCULO: {:.3f}
TRAPEZIO: {:.3f}
QUADRADO: {:.3f}
RETANGULO: {:.3f}""" .format(TRI, CIR, TRA, QUA, RET))

In [ ]:
# URI 1013
a, b, c = input().split()
a = int(a)
b = int(b)
c = int(c)
maiorAB = (a+b+abs(a-b))/2
maiorABC = int((maiorAB+c+abs(maiorAB-c))/2)
print("{} eh o maior" .format(maiorABC))

In [ ]:
# URI 1014
X = int(input())
Y = float(input())
consumo = X / Y
print("{:.3f} km/l" .format(consumo))

In [ ]:
# URI 1015
x1, y1 = input().split()
x2, y2 = input().split()
x1 = float(x1)
x2 = float(x2)
y1 = float(y1)
y2 = float(y2)
dist = ((x2-x1)**2+(y2-y1)**2)**(1/2)
print("{:.4f}" .format(dist))

In [ ]:
# URI 1016
dist = int(input())
tempo = dist*2
print("{} minutos" .format(tempo))

In [ ]:
# URI 1017
tempo = int(input())
vel = int(input())
dist = vel * tempo
litros = dist / 12
print('{:.3f}' .format(litros))

In [ ]:
# URI 1018
val = int(input())
print(val)
a=val//100
val=val-a*100
b=val//50
val=val-b*50
c=val//20
val=val-c*20
d=val//10
val=val-d*10
e=val//5
val=val-e*5
f=val//2
val=val-f*2
g=val//1
val=val-g*1
print("{} nota(s) de R$ 100,00" .format(a))
print("{} nota(s) de R$ 50,00" .format(b))
print("{} nota(s) de R$ 20,00" .format(c))
print("{} nota(s) de R$ 10,00" .format(d))
print("{} nota(s) de R$ 5,00" .format(e))
print("{} nota(s) de R$ 2,00" .format(f))
print("{} nota(s) de R$ 1,00" .format(g))

In [ ]:
# URI 1019
seg = int(input())
horas = seg // 3600
seg = seg % 3600
min = seg // 60
seg = seg % 60
print("{}:{}:{}" .format(horas, min, seg))

In [ ]:
# URI 1020
id = int(input())
anos = id // 365
id = id % 365
meses = id // 30
id = id % 30
print("""{} ano(s)
{} mes(es)
{} dia(s)""" .format(anos, meses, dias))
print("{} mes(es)" .format(meses))
print("{} dia(s)" .format(id))